body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton {
  padding:5px 12px;
  float: left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  width: 180px;
  height: 200px;
}
.green{
  border:10px solid green;
}
.tiny {
  border: none;
  background-image: url(img/tiny.jpg);
}
.lineUp {
  left: 0px !important;
  transition-property: left;
  transition-duration: 1s;
}
